/**
 *	Global
 */
@use 'global/grid';
@use 'global/variables' as v;

/**
 *	Partials
 */
@use 'partials/siteHeader';
@use 'partials/siteFooter';
@use 'partials/article';
@use 'partials/subpageheader';

/**
 *	Subpages
 */ 
@use 'subpages/home';
@use 'subpages/news';
@use 'subpages/apartments';
@use 'subpages/offices';
@use 'subpages/gallery';
@use 'subpages/about';

#wpadminbar{
	position: fixed;
	top: 0;
	left: 0;
	opacity: .2;
	transition: ease .3s;

	&:hover{
		opacity: 1;
	}
}
 
*{
	box-sizing: border-box;
}

body{
	font-family: 'montserrat', sans-serif;
	box-sizing: border-box;
	margin: 0;

	&.no-scroll{
		overflow: hidden;
	}
}

a{
	transition: ease .3s;
	outline: none !important;
	text-decoration: none;
}