/*!

                                                                                                                    
                                                                                                                    
     QQQQQQQQQ                                                                                                      
   QQ:::::::::QQ                                                                                                    
 QQ:::::::::::::QQ                                                                                                  
Q:::::::QQQ:::::::Q                                                                                                 
Q::::::O   Q::::::Quuuuuu    uuuuuu     ooooooooooo   rrrrr   rrrrrrrrr   uuuuuu    uuuuuu     mmmmmmm    mmmmmmm   
Q:::::O     Q:::::Qu::::u    u::::u   oo:::::::::::oo r::::rrr:::::::::r  u::::u    u::::u   mm:::::::m  m:::::::mm 
Q:::::O     Q:::::Qu::::u    u::::u  o:::::::::::::::or:::::::::::::::::r u::::u    u::::u  m::::::::::mm::::::::::m
Q:::::O     Q:::::Qu::::u    u::::u  o:::::ooooo:::::orr::::::rrrrr::::::ru::::u    u::::u  m::::::::::::::::::::::m
Q:::::O     Q:::::Qu::::u    u::::u  o::::o     o::::o r:::::r     r:::::ru::::u    u::::u  m:::::mmm::::::mmm:::::m
Q:::::O     Q:::::Qu::::u    u::::u  o::::o     o::::o r:::::r     rrrrrrru::::u    u::::u  m::::m   m::::m   m::::m
Q:::::O  QQQQ:::::Qu::::u    u::::u  o::::o     o::::o r:::::r            u::::u    u::::u  m::::m   m::::m   m::::m
Q::::::O Q::::::::Qu:::::uuuu:::::u  o::::o     o::::o r:::::r            u:::::uuuu:::::u  m::::m   m::::m   m::::m
Q:::::::QQ::::::::Qu:::::::::::::::uuo:::::ooooo:::::o r:::::r            u:::::::::::::::uum::::m   m::::m   m::::m
 QQ::::::::::::::Q  u:::::::::::::::uo:::::::::::::::o r:::::r             u:::::::::::::::um::::m   m::::m   m::::m
   QQ:::::::::::Q    uu::::::::uu:::u oo:::::::::::oo  r:::::r              uu::::::::uu:::um::::m   m::::m   m::::m
     QQQQQQQQ::::QQ    uuuuuuuu  uuuu   ooooooooooo    rrrrrrr                uuuuuuuu  uuuummmmmm   mmmmmm   mmmmmm
             Q:::::Q                                                                                                
              QQQQQQ

Theme Name: Quorum
Theme URI: http://underscores.me/
Author: Cavatina
Author URI: https://cavatina.pl/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: quorum
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/